.to-do-list{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.container {
background-color: ghostwhite;
    width: 400px;
    height: 500px;
    box-shadow: 3px 3px 3px #e1e5ea, 3px 3px 5px rgb(122 122 134 / 40%);
}
.name{
    text-align: center;
    font-size: 45px;
    margin-top: 25px;
    font-family: "Adelle Sans Devanagari";
    font-style: revert;
}
.task-name-input{
    border: 1px solid white;
    box-shadow: 3px 3px 3px #e1e5ea, 3px 3px 5px rgb(122 122 134 / 40%);
    margin-left: 20px;
    width: 345px;
    height: 35px;
margin-top: 20px;
    font-family: "Adelle Sans Devanagari";
    padding-left: 20px;
    font-size: 20px;
}
.buttons{
    margin-right: 24px;
    margin-left: 24px;
}
.new-task{
width: 360px;
    height: 40px;
    border: 1px solid silver;
    background-color: cornflowerblue;
    border-radius: 20px;
    font-size: 17px;

}
.new-task:hover{
    cursor: pointer;

}
.new-task:hover{
    background-color: lightsteelblue;
}
.task-list{

    margin-left: 22px;
    margin-top: 17px;

}
.taskOne {
    width: 355px;
    height: 36px;
    align-items: center;
    border: 1px solid white;
    box-shadow: 3px 3px 3px #e1e5ea, 3px 3px 5px rgb(122 122 134 / 40%);
    background-color: white;
    display: flex;
    margin-right: 50px;
    font-family: "Adelle Sans Devanagari";
    padding-left: 10px;
    font-size: 20px;
}
.completed {
    background-color: aliceblue;
    text-decoration: line-through;
    transition: .5s;
}
.completebtn {
    background: lightsteelblue;
    border-radius: 25px;
    width: 31px;
    height: 31px;
    margin-right: 3px;
}
.deletebtn {
    background: lightcoral;
    border-radius: 25px;
    align-items: end;
    width: 31px;
    height: 31px;
}
p{
width: 286px;
}









